<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20126.16343" />
  <package id="AspNetRazor.Core" version="2.0.20126.16343" />
  <package id="AspNetWebApi" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="AspNetWebPages.Core" version="2.0.20126.16343" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20126.16343" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20126.16343" />
  <package id="jquery-globalize" version="0.1.1" targetFramework="net45" />
  <package id="jQuery-vsdoc" version="1.9.1" targetFramework="net45" />
  <package id="knockoutjs" version="2.0.0.0" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.0-alpha1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.Web.Optimization" version="1.0.0-beta" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net45" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net45" />
  <package id="MvcContrib" version="2.0.95.0" targetFramework="net45" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="WebGrease" version="1.1.0" targetFramework="net40" />
</packages>