@model Model.Article

@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Model.Title.</h1>
            <h2>@Model.Content</h2>
        </hgroup>
        <p>
            TESTING Ohh YEE!
        </p>
    </div>
</section>
}

