@model Model.Article

@{
    ViewBag.Title = "Home Page";
}

@*@section featured {

}*@
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Experimental CMS for torism site.</h1>
        
        </hgroup>
        
    </div>
</section>
