<div class="row-fluid holder">
    <div class="span12">
        <div class="row-fluid" id="dialog-selected-pics" data-bind="visible: mainSelectedPics() != null && mainSelectedPics().length > 0">
            <div class="span12">
            </div>
        </div>
        <div class="row-fluid" id="attach-options" data-bind="visible: onOptionPage()">
            <div class="span6 calign">
                <button class="btn btn-large btn-success" type="button" data-bind="click: chooseAddNewPhoto">Attach new picture</button>
            </div>
            <div class="span6 calign">
                <button class="btn btn-large" type="button" data-bind="click: chooseAddExistingPhoto">Attach existing picture</button>
            </div>
        </div>

        <div class="row-fluid" id="attach-existing-pics" data-bind="visible: (!onOptionPage() && !isNewPhoto())">
            <div class="span12">
                attach existing pictures
                <button type="button" class="btn" data-bind="click: backToOption">Back</button>
            </div>
        </div>

        <div class="row-fluid" id="add-new-picture" data-bind="visible: (!onOptionPage() && isNewPhoto())">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span4 calign">
                        <a href="#" data-bind="click: chooseAddNormalPhoto">Add normal picture</a>
                    </div>
                    <div class="span4 calign">
                        <a href="#" data-bind="click: chooseAddFlickrPhoto">Add Flickr picture</a>
                    </div>
                    <div class="span4 calign">
                        <button type="button" class="btn" data-bind="click: backToOption">Back</button>
                    </div>
                </div>

                <div class="row-fluid" id="new-picture-data" data-bind="visible: (!onOptionPage() && isNewPhoto())">
                    <div class="span12">
                        <form class="form-horizontal">

                            <div class="editor-label">
                                <label class="control-label" for="newpic_url">Flickr url</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" id="newpic_url" placeholder="Flickr url">
                            </div>


                            <div class="editor-label">
                                <label class="control-label" for="normalpicture_filename">File Name</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" id="normalpicture_filename" placeholder="File Name">
                            </div>

                            <div class="editor-label">
                                <label class="control-label" for="normalpicture_ownername">Owner Name</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" id="normalpicture_ownername" placeholder="Owner Name">
                            </div>

                            <div class="editor-label">
                                <label class="control-label" for="normalpicture_pictitle">Picture Title</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" id="normalpicture_pictitle" placeholder="Picture Title">
                            </div>

                            <div class="editor-label">
                                <label class="control-label" for="normalpicture_picdescription">Description</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" id="normalpicture_picdescription" placeholder="Description">
                            </div>
                        </form>

                    </div>
                </div>

                @*<div class="row-fluid" id="add-flickr-picture" data-bind="visible: (!onOptionPage() && isNewPhoto() && isFlickrPhoto())">
                    <div class="span12" data-bind="with: newFlickrPhoto">
                        <h4>Add flickr picture </h4>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="flickrpicture_url">Flickr Url</label>
                                <div class="controls">
                                    <input type="text" id="flickrpicture_url" placeholder="Flickr Url">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="flickrpicture_ownername">Owner Name</label>
                                <div class="controls">
                                    <input type="text" id="flickrpicture_ownername" placeholder="Owner Name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="flickrpicture_pictitle">Picture Title</label>
                                <div class="controls">
                                    <input type="text" id="flickrpicture_pictitle" placeholder="Picture Title">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="flickrpicture_picdescription">Description</label>
                                <div class="controls">
                                    <input type="text" id="flickrpicture_picdescription" placeholder="Description">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">Add</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>*@
            </div>
        </div>

    </div>

</div>