<div class="pull-right">
@if (Request.IsAuthenticated)
{
    <div class="btn-group">
        <a class="btn btn-primary " data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>&nbsp; @User.Identity.Name</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Edit", "Admin", new { id = "4"})"><i class="icon-pencil"></i> Edit profile </a></li>
            <li> @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }, new Dictionary<string, object> {{ "style", "margin: 0px;"} }))
                 {
                  @Html.AntiForgeryToken()<a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i> Log off</a> }</li>
        </ul>
    </div>
} else {
 
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification", @class = "btn pull-right" })
 
}
</div>