@using ExperimentalCMS.Model
@model ExperimentalCMS.ViewModels.PlaceChildsViewModel
@{
    string title;
    List<Place> childPlaces = new List<Place>();
    switch (Model.PlaceTypeEnum)
    {
        case Enums.PlaceTypes.State:
            title = "State related places";
            childPlaces = Model.StateChilds.ToList();
            break;

        case Enums.PlaceTypes.TownCity:
            title = "Town/City related places";
            childPlaces = Model.TownCityChilds.ToList();
            break;

        default:
            title = "Tourist attraction related places";
            childPlaces = Model.AttractionChilds.ToList();
            break;
    }
    
}

<div class="row-fluid mt20">
    <div class="span6">
        @if (childPlaces.Any())
        {
            <h4>@title</h4>
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="p8">Place Names</th>
                </tr>
                @foreach (var childPlace in childPlaces)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(childPlace.PlaceName, "Edit", new { id = childPlace.PlaceId })
                        </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p>There is no related child for this place</p>    
        }

    </div>
</div>
