a:focus{
	outline: none;
}

.btn:focus{
	outline: none;
}

/* Layouts 
=============================================*/
.brand {
    font-family: 'Lobster', cursive;
}

.navbar-inner {
    padding: 0px;
}
.navbar .brand {
    color: #41446b;
    font-size: 25px;
}

.navbar .nav > li > a {
    color: #41446b;
    padding: 12px 10px 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0);
}

.navbar .nav > li > a:hover {
    color: #FFD700;
    background-color: #0088cc;
}

#footer {
    padding: 20px;
    height: 20px;
    display: block;
    background-color: #f5f5f5;
}

.navbar-inverse .navbar-inner {
    background-color: #FFD700;
    background-color: #FFD700;
    background-image: -moz-linear-gradient(top, #FFD700, #FFD700);
    background-image: -ms-linear-gradient(top, #FFD700, #FFD700);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD700), to(#FFD700));
    background-image: -webkit-linear-gradient(top, #FFD700, #FFD700);
    background-image: -o-linear-gradient(top, #FFD700, #FFD700);
    background-image: linear-gradient(top, #FFD700, #FFD700);
    background-repeat: repeat-x;
	border: none;
}

legend{
    font-size: 18px;
}

/* Sign-in form 
=============================================*/
.form-signin {
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 19px 29px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin ol {
    list-style: none;
}
.form-signin input[type='text'], .form-signin input[type='password'] {
    padding: 9px 9px;
     margin-top: 15px;
}

.form-signin input[type='submit'] {
    margin-top: 15px;
    padding: 9px 30px;
}

.form-signin fieldset {
    margin: 30px 45px;
}
.form-signin fieldset {
    margin: 30px 45px;
}
.form-signin fieldset .checkbox {
    margin-top: 15px;
}

/* Sign-off form 
=============================================*/

#logoutForm
{
	margin: 0px;
}

#logoutForm a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

#logoutForm a:hover{
	 color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#logoutForm a:hover	> [class^="icon-"]{
	background-image: url("../Content/images/glyphicons-halflings-white.png");
}

/* Margins 
=============================================*/

.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

/* Form elements 
=============================================*/

.display-label {
    text-align: right;
    clear: left;
    float: left;
    
}

.display-field {
    float: left;
}


/* Error Message
=============================================*/
.field-validation-error{
	color: #b94a48;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.validation-summary-errors
{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}