.brand {
    font-family: 'Lobster', cursive;
}

.navbar-inner {
    padding: 0px;
}
.navbar .brand {
    color: #41446b;
    font-size: 25px;
}

.navbar .nav > li > a {
    color: #41446b;
    padding: 12px 10px 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0);
}

.navbar .nav > li > a:hover {
    color: #FFD700;
    background-color: #0088cc;
}

#footer {
    padding: 20px;
    height: 20px;
    display: block;
    background-color: #f5f5f5;
}

.navbar-inner {
    background-color: #FFD700;
    background-color: #FFD700;
    background-image: -moz-linear-gradient(top, #FFD700, #FFD700);
    background-image: -ms-linear-gradient(top, #FFD700, #FFD700);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD700), to(#FFD700));
    background-image: -webkit-linear-gradient(top, #FFD700, #FFD700);
    background-image: -o-linear-gradient(top, #FFD700, #FFD700);
    background-image: linear-gradient(top, #FFD700, #FFD700);
    background-repeat: repeat-x;
}


/* Margins 
=============================================*/

.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

/* Form elements 
=============================================*/

.display-label {
    text-align: right;
    clear: left;
    float: left;
    
}

.display-field {
    float: left;
}
